@{
    ViewBag.Title = "async/await eliding";
}

<div class="jumbotron">
    <h1>Async Experiments - .Result</h1>
    <p class="lead">Example of .Result deadlock.</p>
</div>


<h1>.Result</h1>

<div class="row">
    <div class="col-md-12">
        <h2>Without eliding</h2>
        <p>Call an async method without eliding.</p>
        <p><a class="btn btn-default" href="@Url.Action("WithResult", "Home")">Call &raquo;</a></p>
    </div>
</div>

